@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic");

* {
  box-sizing: border-box;
}

table, tbody, tfoot, thead, tr, th, td, article {
  white-space: nowrap;
}

html {
  font-size: 100%;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  font: 1em 'Open Sans', sans-serif;
  background-color: #f1f1f1;
}

main {
  max-width: 1024px;
  margin: 0 auto
  padding: 0 22px;
}

article {
  margin: 0 1em;
  padding: 0 22px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .3s;
  -moz-transition: : -moz-transform .3s;
  transition: transform .3s;
  overflow: scroll;
}

section, article {
  margin-bottom: 3em;
  padding-top: 1.7em;
}

section > :last-child, section:last-child, article > :last-child, article:last-child {
  margin-bottom: 0;
}

header {
  margin: 0 0 1.5em 0;
}

header > p {
  margin: 0.5em 0 0 0;
  color: #aaa;
}

@media screen and (max-width: 736px) {

  header {
    margin: 0 0 1em 0;
  }

}

header {
  margin: 0;
  padding: 0;
  text-align: center;
}

p {
  margin-bottom: 16px;
}

hr {
  margin: 22px 0;
  height: 1px;
  border: 0;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

h1,
h2 {
  margin-bottom: 22px;
  color: #191919;
  font-weight: 300;
}

h1 {
  font-size: 32px;
  line-height: 32px;
}

h2 {
  color: #565d66;
  font-size: 26px;
  line-height: 26px;
}

a {
  color: #006b05;
  text-decoration: none;
}

.btn {
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  -ms-border-radius: 10em;
  -o-border-radius: 10em;
  border-radius: 10em;
  border: 0;
  color: #fff!important;
  margin: 6px;
  white-space: normal!important;
  word-wrap: break-word;
  display: inline-block;
  line-height: 1.25;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}
.btn {
  -webkit-transition: box-shadow .2s ease-out;
  -moz-transition: box-shadow .2s ease-out;
  -ms-transition: box-shadow .2s ease-out;
  transition: box-shadow .2s ease-out;
}
.btn:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
}
.btn-primary {
  border: 2px solid #2BBBAD;
  color: #00695c!important;
  background-color: transparent;
}

.btn-secondary {
  border: 2px solid #00C851;
  color: #007E33!important;
  background-color: transparent;
}

.search_result {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  -moz-transition: background-color .25s ease-in-out;
  -webkit-transition: background-color .25s ease-in-out;
  -ms-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
  -webkit-appearance: none;
  display: inline-block;
  background-color: #222222;
  border: 0;
  cursor: pointer;
  outline: 0;
  padding: 1em 1em 1em 1em;
  width: 100%;
}

.search_result a{
  text-decoration: none;
  font-weight: 400;
  color: white;
}

form label {
  display: block;
  font-weight: 400;
  color: #363636;
  margin: 0 0 1em 0;
}

form input[type="text"],
form select,
form textarea {
  -webkit-appearance: none;
  border: 0;
  background: #f4f4f4;
  padding: 0.75em;
  width: 100%;
  -moz-transition: background-color .25s ease-in-out;
  -webkit-transition: background-color .25s ease-in-out;
  -ms-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
}

form input[type="text"]:focus,
form select:focus,
form textarea:focus {
  background: #f8f8f8;
}

form input[type="text"],
form select {
  line-height: 1.35em;
}

form ::-webkit-input-placeholder {
  color: #999;
}

form :-moz-placeholder {
  color: #999;
}

form ::-moz-placeholder {
  color: #999;
}

form :-ms-input-placeholder {
  color: #999;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
  -moz-transition: background-color .25s ease-in-out;
  -webkit-transition: background-color .25s ease-in-out;
  -ms-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
  -webkit-appearance: none;
  display: inline-block;
  background-color: #222222;
  color: #ffffff;
  border: 0;
  cursor: pointer;
  outline: 0;
  padding: 0.7em 1.5em 0.7em 1.5em;
  width: 100%;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover {
  background-color: #333333;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button:active,
.button:active {
  background-color: #444444;
}

input[type="button"].alt,
input[type="submit"].alt,
input[type="reset"].alt,
button.alt,
.button.alt {
  background-color: #777777;
}

input[type="button"].alt:hover,
input[type="submit"].alt:hover,
input[type="reset"].alt:hover,
button.alt:hover,
.button.alt:hover {
  background-color: #888888;
}

input[type="button"].alt:active,
input[type="submit"].alt:active,
input[type="reset"].alt:active,
button.alt:active,
.button.alt:active {
  background-color: #999999;
}

@media screen and (max-width: 736px) {

  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  button,
  .button {
    width: 100%;
  }

}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table {
  width: 100%;
}

table.default tbody tr {
  border-bottom: solid 1px #f4f4f4;
}

table.default td {
  padding: 0.5em 1em 0.5em 1em;
}

table.default th {
  text-align: left;
  font-weight: 400;
  padding: 0.5em 1em 0.5em 1em;
}

table.default thead {
  border-bottom: solid 2px #f4f4f4;
}

thead tr {
  border-bottom: 25px solid #f1f1f1;
}
